{% extends "base.html" %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="content">
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <span class="error">{{ login_error}}</span>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <span class="error">{{ login_error }}</span>
            <br>
            <input type="submit" value="Submit">
        </form>
                   
    </div>

    <p>Create a <a href="/signup">login</a> to access Blogz!</p>

{% endblock %}
